<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" tempDirectory="D:\InetPub\vhosts\ikegee-4183.package\tmp" />
  </system.web>  
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://geidsness/calendar/" />
      </customHeaders>
    </httpProtocol>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
